.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.friend-list{
  width: 500px;
  height:500px;
  margin: 20px auto;
  border: 1px solid black;

}
.friend-list .title{
  color: black;
  font-weight: 700;
}
.friend-list .title-li{
  background: #dfdfdf;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{

  display: flex;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-left: 10px;
  padding-right: 10px;
}

.input-field-li{
  padding: 0px;
}
.input-field{
  height: 30px;
  width: 100%;
  border: 1px solid #dbdbdb;
}
.userDetails{
  width: 100%;
}
.userDetails-name-div{
  float: left;
  width: 80%;
}
.userDetails-name{
  font-weight: 700;
}
.userDetails-info{
  font-size: 8px;
}

.userDetails-f-d-div{
  float: right;
  width: 20%;
}
.star-icon{
  margin: 5px;
  padding: 2px;
  border: 1px solid #c7c7c7;
  height: 24px;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.pagination{

}
.pagination .page-item{
  width: 50px;
    height: 50px;
    border: 1px solid #f3ebeb;
    display: inline-block;
    text-align: center;
}
.page-link{
  text-decoration: none;
    color: black;
}

.page-link-active{
  font-weight: 700;
}